*{
    margin: 0;
    /* padding-inline-start: ; */
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;     
  margin: 0;           
}


.main-container{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.box {
    /* backdrop-filter: ; */
    background-color: rgb(41,41,187);
}

.first, .third{
    height: 85px;
    width: 85px;
}

.third{
    position: absolute;
    bottom: 0px;
}

.secound, .fourth{
    height: 85px;
    width: 170px;
    position: absolute;
}

.secound{
    top: 0;
    right: 0px;
}

.fourth{
    bottom: 0px;
    right: 0px;
}